$topColor: #000000;
$headerColor: #202020;
$backgroundColor: #131313;
$itemColor: #1F1F1F;
$memberColor: #262626;
$actionColor: #B52D27;
$buttonColor: #C43532;
$highlightColor: #D23B39;
$imageBackColor: #E4443F;
$tablet: 1200px;
$phone: 850px;
$headerbreak: 600px;