html body {
  background-color: #131313;
}

html body img {
  width: 100px;
  height: 100px;
}

html body header {
  height: 100vh;
  background-image: url("https://i.imgur.com/dVxMfHf.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

html body header .overlay {
  height: 100%;
  background-color: rgba(32, 32, 32, 0.65);
}

html body header .overlay .header {
  padding: .5em 1em;
  background-color: #202020;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
}

@media screen and (max-width: 600px) {
  html body header .overlay .header {
    -ms-grid-columns: 1fr auto;
        grid-template-columns: 1fr auto;
  }
}

html body header .overlay .header * {
  display: inline-block;
}

html body header .overlay .header .header__logo {
  width: 4em;
  height: 4em;
}

html body header .overlay .header .header__title {
  text-align: center;
  font-size: 2em;
  padding: .5em 0;
}

@media screen and (max-width: 600px) {
  html body header .overlay .header .header__title {
    display: none;
  }
}

html body header .overlay .header .header__button {
  background-color: #C43532;
  color: #FFF;
  border: solid 1px #C43532;
  -webkit-transition: background-color ease .2s;
  transition: background-color ease .2s;
  cursor: pointer;
  min-height: 48px;
}

html body header .overlay .header .header__button:hover {
  background-color: #b0302d;
  border: solid 1px #b0302d;
}

html body header .overlay .header .header__button:active {
  background-color: #9b2a28;
  border: solid 1px #9b2a28;
}

html body header .overlay .title {
  color: #FFF;
  text-align: center;
  margin-top: 33vh;
  font-size: 2em;
}

html body header .overlay .subtitle {
  color: #D23B39;
  text-align: center;
  font-size: 1.9em;
  font-weight: 400;
}

html body header .overlay .scrolldown {
  position: absolute;
  bottom: 5vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 7em;
  width: 6em;
  -o-object-fit: cover;
  object-fit: cover;
}

html body main {
  padding: 0 5em;
  margin-bottom: 2em;
}

@media screen and (max-width: 1200px) {
  html body main {
    padding: 0 4em;
  }
}

@media screen and (max-width: 850px) {
  html body main {
    padding: 0 1em;
  }
}

html body main .project {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 75%;
      grid-template-columns: 25% 75%;
  grid-gap: 1em;
  margin-top: 2em;
}

@media screen and (max-width: 1200px) {
  html body main .project {
    display: block;
  }
}

html body main .project .project__sidebar {
  background-color: #1F1F1F;
  width: calc(100% - 2em);
  padding: 1em;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 1em;
}

html body main .project .project__sidebar .project__general .project__external {
  font-size: 1.5em;
  margin-bottom: .3em;
}

html body main .project .project__sidebar .project__general .project__links .project__icon {
  margin-right: .5em;
  cursor: pointer;
  display: inline-block;
}

html body main .project .project__sidebar .project__general .project__links .project__icon .project__icon-image {
  background-color: #E4443F;
  padding: .3em;
  border-radius: 9999em;
}

html body main .project .project__sidebar .project__general .project__links .project__icon .project__icon-image img {
  height: 3em;
  width: 3em;
}

html body main .project .project__sidebar .project__general .project__links .project__icon .project__icon-name {
  text-align: center;
  font-size: .85em;
  margin-top: .5em;
}

html body main .project .project__sidebar .project__general .project__team {
  font-size: 1.5em;
  margin: 1em 0em .5em 0em;
}

html body main .project .project__sidebar .project__general .project__member {
  cursor: pointer;
  margin-bottom: .5em;
  background-color: #262626;
  padding: .5em .8em;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
}

html body main .project .project__sidebar .project__general .project__member .project__member-image {
  margin-right: 1em;
}

html body main .project .project__sidebar .project__general .project__member .project__member-image .project__member-imagesource {
  height: 3em;
  width: 3em;
  border-radius: 9999em;
}

html body main .project .project__sidebar .project__general .project__member .project__member-info {
  margin-top: .5em;
}

html body main .project .project__sidebar .project__general .project__member .project__member-info .project__member-title {
  font-weight: lighter;
}

html body main .project .project__sidebar .project__languages .project__usedlangs {
  font-size: 1.5em;
  margin-bottom: .3em;
}

html body main .project .project__sidebar .project__languages .project__language {
  border-radius: 10px;
  border: solid 1px #FFF;
  padding: .5em 1em;
  display: inline-block;
  font-size: 1em;
  margin: .2em;
}

html body main .project .project__info {
  background-color: #1F1F1F;
  width: calc(100% - 4em);
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  padding: .5em 1.5em 2em 1.5em;
}

@media screen and (max-width: 1200px) {
  html body main .project .project__info {
    width: calc(100% - 3em);
  }
}

html body main .project .project__info .project__about-title,
html body main .project .project__info .project__about-subtitle {
  font-size: 1.5em;
  margin: 1em 0em .5em 0em;
}

html body main .project .project__info .project__about-main,
html body main .project .project__info .project__about-task {
  font-size: 1.3em;
  font-weight: lighter;
  line-height: 1.3em;
}

html body main .project .project__info .project__about-preview {
  width: auto;
  height: 15em;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 1em 0 0 0;
}

@media screen and (max-width: 1200px) {
  html body main .project .project__info .project__about-preview {
    width: 100%;
  }
}
/*# sourceMappingURL=project.css.map */